In [18]:
import numpy as np
import pandas as pd

In [32]:
cols = ["a", "b", "c"]
data = np.array([[1,2,3],[4,5,6],[7,8,9]])

df = pd.DataFrame(columns = cols, data = data)

# df.head()
new_cols = ["b", "c","a"]

org_array = []
for i in new_cols:
    org_array.append(list(df[i]))

# df.head()
org_array = np.array(org_array).T
print(org_array)
print(data)

[[2 3 1]
 [5 6 4]
 [8 9 7]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [27]:
df.head()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9